graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .coveragerc

include CONTRIBUTING.md
include LICENSE
include README.md

include tox.ini .travis.yml

global-exclude *.py[cod] __pycache__ *.so *.dylib
