graft docs
graft src
graft tests

include .bumpversion.cfg
include .coveragerc

include *.md
include samples/demo.py
include LICENSE
include README.md
include CLA-CORPORATE.md
include CLA-INDIVIDUAL.md

include tox.ini .travis.yml
include travis/*.sh

global-exclude *.py[cod] __pycache__
